In [32]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

# Q2. Records count

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
df.head(3)
df.shape

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.0

(2160, 12)

# Q3. Laptop brands

In [10]:
df.Brand.value_counts()
df.Brand.nunique()

Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Primux                8
Deep Gaming           8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

27

# Q4. Missing values

In [12]:
df.isna().sum().loc[lambda x: x>0]

Storage type      42
GPU             1371
Screen             4
dtype: int64

# Q5. Maximum final price

In [16]:
df.loc[lambda df: df.Brand.eq('Dell')].describe()

             RAM      Storage     Screen  Final Price
count  84.000000    84.000000  84.000000    84.000000
mean   11.380952   395.142857  14.686905  1153.839881
std     4.583640   175.543846   1.023669   671.795071
min     4.000000   128.000000  13.000000   379.000000
25%     8.000000   256.000000  14.000000   699.000000
50%     8.000000   256.000000  14.500000  1003.000000
75%    16.000000   512.000000  15.600000  1313.810000
max    32.000000  1000.000000  17.000000  3936.000000

# Q6. Median value of Screen

In [25]:
df.Screen.median()
df.Screen.fillna(df.Screen.mode()).median()

15.6

15.6

# Q7. Sum of weights

In [42]:
X = df.loc[lambda df: df.Brand.eq('Innjoo'), ['RAM', 'Storage', 'Screen']].values
XTX_inv = np.linalg.inv(X.T @ X)
y = np.array([1100, 1300, 800, 900, 1000, 1100])

np.sum(XTX_inv @ X.T @ y)

91.29988062995588